/* You can add global styles to this file, and also import other style files */
div{background-color: dimgray; fill: dimgrey; font-family: Arial, Helvetica, sans-serif; margin: auto;}
body{background-color: dimgrey; margin: auto;}
